<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<!--head>
    <title>Submit Complaint</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head-->
<head>
    <title>DAR AL SHIFA</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css"  th:href="@{css/style.css}">

    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>

    <style>
    th, td {
  padding: 10px;
}
</style>

    <script>

            $(document).ready(function() {
       window.history.pushState(null, "", window.location.href);
        window.onpopstate = function() {
            window.history.pushState(null, "", window.location.href);
        };
    });
</script>

</head>
<body>


<div data-role="page" id="display" >
    <div data-role="header">

        <center>
            <img th:src="@{img/logo.png}" width="100" />
        </center>
        <h1>Dar Al Shifa Hospital</h1>
    </div><!-- /header -->

    <div role="main" class="ui-content">





<h4>submit your concerns,complaints or suggestions قم بطرح اقتراحك او شكوتك</h4>
<form action="#" th:action="@{/complaint}" th:object="${complaint}" method="post" enctype="multipart/form-data">


    <div  th:if="${complaint.id}">
        <center>
            <h4>Your complaint submitted successfully , we will call within 1 working day , to follow up please keep the QR code or the number below</h4><br/>
            <img th:src="@{*{'/images/'+id}}" />  <br/>
            <p th:text="*{id}"></p>
        </center>
    </div>

    <input type="hidden" id="id" th:field="*{id}" />
    <label for="nameAr">Full Name:الاسم بالكامل </label>
    <input type="text" id="nameAr" th:field="*{nameAr}" />

    <!--label for="nameEn">English Name:الاسم بالانجليزيه </--label>
    <input type="text" id="nameEn" th:field="*{nameEn}" /-->

    <label for="mobile">Mobile:الهاتف</label>
    <input type="text" id = "mobile" th:field="*{mobile}" />

    <label for="description">Describe your concerns, complaints or suggestions :وصف الاقتراح او الشكوى </label>
    <textarea class="form-control" id="description" th:field="*{description}" rows="5"></textarea>
    <div th:insert="/audio.html :: audio">  </div>
    <p><input type="submit" value="Submit" /> </p>
</form>

    </div>
</div>
</body>
</html>